# Importing libraries

In [1]:
import numpy as np
import pandas as pd

# Setting scraping location

In [2]:
url_path = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

# Reading from URL using pandas

In [17]:
dfs = pd.read_html(url_path)

# Inspect df

In [18]:
dfs

[    Postal Code           Borough  \
 0           M1A      Not assigned
 1           M2A      Not assigned
 2           M3A        North York
 3           M4A        North York
 4           M5A  Downtown Toronto
 ..          ...               ...
 175         M5Z      Not assigned
 176         M6Z      Not assigned
 177         M7Z      Not assigned
 178         M8Z         Etobicoke
 179         M9Z      Not assigned

                                          Neighbourhood
 0                                         Not assigned
 1                                         Not assigned
 2                                            Parkwoods
 3                                     Victoria Village
 4                            Regent Park, Harbourfront
 ..                                                 ...
 175                                       Not assigned
 176                                       Not assigned
 177                                       Not assigned
 178  Mimico NW, The Queensway West, South of Bloor,...
 179                                       Not assigned

 [180 rows x 3 columns],
                                                   0   \
 0                                                NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NL
 3                                                  A

                                                   1   \
 0                              Canadian postal codes
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NS
 3                                                  B

                                                   2    3    4    5    6    7   \
 0                                                NaN  NaN  NaN  NaN  NaN  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  NaN  NaN  NaN  NaN  NaN
 2                                                 PE   NB   QC   QC   QC   ON
 3                                                  C    E    G    H    J    K

     8    9    10   11   12   13   14   15     16   17
 0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 2   ON   ON   ON   ON   MB   SK   AB   BC  NU/NT   YT
 3    L    M    N    P    R    S    T    V      X    Y  ,
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

In [19]:
type(dfs)

list

As there were multiple tables in the specified URL, reading the html using pandas "read_html" function has returned all table as a list of dataframes. We need to estlish which data frame is the one we want.
First lets check how many dataframes are contained within the list.

In [20]:
len(dfs)

3

As there are only 3 data frames within the list it is possible to inspect each element

In [22]:
dfs[0]

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

It appears that dfs[0] is the table we wanted to scrap. But lets inspect other dataframes in dfs to double check

In [24]:
dfs[1]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,Canadian postal codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...,NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...,NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NL,NS,PE,NB,QC,QC,QC,ON,ON,ON,ON,ON,MB,SK,AB,BC,NU/NT,YT
3,A,B,C,E,G,H,J,K,L,M,N,P,R,S,T,V,X,Y

In [25]:
dfs[2]

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y

Indeed are dfs[1] and dfs[2] are not tables we require

# Cleaning the scraped dataframe

First we select the data frame we want

In [72]:
df = dfs[0]

### Stage 1

Lets look at the dataframe

>The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [73]:
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [74]:
df.columns

Index(['Postal Code', 'Borough', 'Neighbourhood'], dtype='object')

As we can see that the dataframe consists of three columns: PostalCode, Borough, and Neighbourhood
(n.b. that we have "Neighbourhood" rather than "Neighborhood". We will stick with the UK English spelling "Neighbourhood" rather than rename it)

### Stage 2

Remove any unwanted data entries

>Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

We only want to process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned. So filter these out.

In [75]:
condition = df['Borough']=='Not assigned'
df = df[~condition].copy()

Lets look at the dataframe

In [76]:
df

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

Resetting any indices in this dataframe

In [77]:
df.reset_index(drop=True, inplace=True)

Lets look at the dataframe after resetting the indices

In [78]:
df

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

### Stage 3

From the guidance:

> More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

Lets check this example out

In [79]:
df[df['Postal Code']=='M5A']

  Postal Code           Borough              Neighbourhood
2         M5A  Downtown Toronto  Regent Park, Harbourfront

As we can see from this example, that the table only has a single entry for M5A with 2 Neighbourhoods seperated by comma. It likely that since the guidance for the task was written the table has been updated on Wikipedia to be in the format we desire.

Let double check this is the case by comparing the number of unique Postal Code entries with the length of the table

In [80]:
#Number of unique post codes in table
len(df['Postal Code'].unique())

103

In [81]:
#Length of the table
len(df)

103

As we can see the number of unique Postal Code entries is equal to the length of the table.

This means we do not need to condense the table to only have a single row for each postcode as it is already this format.

### Stage 4

>If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

Let see if there are any borough with Not assigned

In [82]:
neighbourhood_condition = df['Neighbourhood']=='Not assigned'
df[neighbourhood_condition]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

As we can see there a no entries that meet this criteria. So no further processing needs to be done. It is likely that since the guidance was written the table has been updated

In [83]:
#Note if we did required to update the table we would process the table using the below code:
#df.loc[neighbourhood_condition, 'Neighbourhood'] = df.loc[neighbourhood_condition, 'Borough']

In [106]:
# The code was removed by Watson Studio for sharing.

>In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [86]:
df.shape

(103, 3)